---
import clsx from "clsx"
const { class: className } = Astro.props
---

<div class='card--header flex flex-row w-auto'>
  <h2 class={clsx("font-medium mb-0 text-lg", className)}>
    <slot />
  </h2>
</div>
