---
import SectionContainer from "@/components/SectionContainer.astro"
import SEO from "@/components/seo.astro"
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <SEO />
  </head>
  <body>
    <main class='bg-white pb-16'>
      <slot />
    </main>

    <SectionContainer>
      <footer class='py-14 bg-blue-800'>
        <div class='max-w-4xl mx-auto px-6 grid gap-2'>
          <h2 class='font-bold text-3xl text-white-50'>
            Venta de Computadoras, Hardware, Laptops & más
          </h2>
          <p class='text-neutral-400 font-medium text-2xl leading-10'>
            Gran variedad de productos, disponibilidad, precios bajos y
            seguridad al momento de compra, son algunos de los beneficios que
            traemos para ti.
          </p>
        </div>
      </footer>
    </SectionContainer>
  </body>
</html>
